
  .main-header {
    background-color:rgb(19, 136, 130);
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: space-between;

  }
  .main-header__name {
    color: rgb(148, 7, 4);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
  }
  .main-header__brand {
    /* display: block; */
    font-size: 30px;
    color: black;
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
  }
  .main-header__brand:hover {
    color: white;
  }
.main-navv__items {
  display: none;

}

.main-navv__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: rgb(128, 0, 0);
  padding-bottom: 5px;
  font-size: 15px;
}
.main-navv__item a:active,
.main-navv__item a:hover,
.mobile-nav__item a:active,
.mobile-nav__item a:hover {
  color: rgb(250, 250, 250);
  border-bottom: 2px solid white;
}
.activeRoute a{
  color: chocolate;
  border-bottom: 2px solid chocolate;
}

.main-navv__item--cta a {
  animation-name: expColor;
  animation-duration: 4s;
  color: green;
  background: black;
  padding: 10px;
  border-radius: 8px;
  /* animation: wiggle 500ms 1 8 10 ease-out none; */
}
.main-navv__item--cta a:hover,
.main-navv__item--cta a:active {
  background: green;
  color: black;
  border: none;

}
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  width: 40%;
  top: 0;
  left: 0;
  height: 100vh;
  background: wheat;
}
.mobile-nav__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* width: 90%;
  height: 100%;
  text-align: center;
  padding: 0;
  margin: 10% auto; */

}
.mobile-nav__item {

}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);

}

/* .open {
  display: block !important;
} */

@media (min-width: 580px) {
  .main-navv__item--cta {

  }
  /* .main-navv {
    display: flex;
    align-items: center; */
    /* text-align: right; */
    /* width: auto; */
    /* float: right; */
    /* margin-top: 15px;


  } */

  .main-navv__items {
   display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    /* justify-content: space-between; */

    /* align-items: center; */
    /* justify-content:space-around; */
  }
  .main-navv__item {

    /* display: inline-block; */
    margin: 0 5px;
    padding: 0 8px;
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}

@keyframes expColor {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
