.main-header {
  background-color:antiquewhite;
  padding: 15px;

}
.main-header > div {
  display: inline-block;
}
.main-header__brand {
  color: green;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-navv {
  display: inline-block;
  text-align: right;
  width: 93.3%;
  vertical-align: middle;
}
.main-navv__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navv__item {
  display: inline-block;
  margin: 0 15px;
}
.main-navv__item a {
  text-decoration: none;
  color: green;
  padding-bottom: 5px;
}
.main-navv__item a:active,
.main-navv__item a:hover {
  color: chocolate;
  border-bottom: 2px solid chocolate;
}
.main-navv__item--cta a {
  color: green;
  background: black;
  padding: 10px;
  border-radius: 8px;
}
.main-navv__item--cta a:hover,
.main-navv__item--cta a:active {
  background: green;
  color: black;
  border: none;

}
