<header class="main-header">
  <div> <a routerLink="" class="main-header__brand">FreedINN</a></div>
  <nav class="main-navv">
    <ul class="main-navv__items">
      <li class="main-navv__item"><a routerLink="/bio-data">Bio Data</a></li>
      <li class="main-navv__item"><a routerLink="/packages">Packages</a></li>
      <li class="main-navv__item"><a routerLink="/customers">Customers</a></li>
      <li class="main-navv__item main-navv__item--cta"><a routerLink="">Start Hosting</a></li>

    </ul>
  </nav>
</header>
