/* ul.list1 {
  list-style-image: url(../assets/istockphoto-1331252718-170667a.jpg);


} */

div.linkbox a:hover {
  font-size: 1.5em;
}


#product-overview {
  position: relative;
  width: 100%;
  /* top: 75px; */
  /* background: url(../assets/nature.jpg);
  background-repeat: no-repeat; */
  background: black;
  /* background-image: url(../../assets/broccoli-37782957.jpg);
  background-repeat: no-repeat; */
  background-image: url(../../assets/20190706_090045.jpg);
 /* background-size: 100% auto ; */
 background-size:contain, cover;
 background-position: center;
 /* background-position:  left 30% bottom 10 0%; */
 background-repeat: no-repeat;
 /* background-position: center; */
 filter: grayscale(50%);
 /* background-position: left top; */
  /* width: 800px; */
  height: 800px;
  padding: 10px;
  /* position: relative; */
}
#product-overview h1 {
  font-size: 30px;
  /* margin-top: 100px; */
  position: absolute;
  bottom: 50px;
  left: 100px;
  color: red;
  text-align: center;
  vertical-align: middle;
}

#product-overview div {
  position: absolute;
  top: 100px;
  left: 100px;
}
#product-overview button {
  margin: 10px;
}

.section-title {
  color: chocolate;
  text-align: center;
}
/* .plan__list {
  width: 100%;
  margin: auto;
  text-align: center;
} */

.plan {
  background: aquamarine;
  text-align: center;
  width: 100%;
  /* height: 500px; */
  display: block;
  padding: 16px;
  /* margin: 8px 0px; */
  /* vertical-align: middle; */
}
.plan--highlighted {
background: green;
color: white;
/* box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5); */
}
.plan--highlighted .plan__title {
  color: white;
}
.plan--highlighted .plan__price {
  color: chocolate;
}
.plan__annotation {
  background: white;
  color: green;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 10px 5px 5px black;

}
.plan__title {
  color: chocolate;
}
.plan__price {
  color: gray;
}
.plan__features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan__features li {
  list-style: none;
  margin: 8px 0;
}

.button {
  background: rgb(3, 59, 70);
  color: white;
  border: 1px solid rgb(3, 59, 70);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;

}

.button:hover {
  background: white;
  color:  rgb(3, 59, 70) ;
}

.reason {
  background:rgb(239, 132, 33);
  height: auto;
  margin-top: -20px;
}
.reason__heading {
  text-align: center;
  padding: 30px;
  font-size: 20px;
}
.reason__features {
  list-style: none;
  padding: 0;
  margin: 0;
}
.reason__feature {
  width: 100%;
  display: block;
  color: white;
  /* padding: 45px; */
  text-align: center;
  /* background: navy; */
  /* margin: 5px; */
  /* margin-top: 20px; */
}

.inner__feature {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  background: black;
  border-radius: 50px;
  margin: auto
  ;
}
.inner-paragraph{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.main-footer {
  background: black;
  margin-top: -10px;

}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  /* text-align: center; */
}
.main-footer__link {
  color: white;
  /* display: block; */
  /* width: 50%; */
  /* text-align: center; */
  height: auto;
  padding: 15px;
}
.main-footer__link a {
  text-decoration: none;
  color: white;
}
.main-footer__link a:hover,
.main-footer__link a:active {
  color: gray;
}

.modal {
  position: fixed;

  display: none;
  /* transform: translateY(-3em);
  transition: opacity 200ms ease-out, transform 500ms ease-out; */
  z-index: 200;
  top: 30%;
  left: 35%;
  width: 30%;
  height: 20%;
  background-color: wheat;
  padding: 15px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}
.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);

}
.modal-actions {
  text-align: center;
  margin: 10px;
}
.btn-action1 {
  margin: 10px;
}


@media (min-width: 580px) {

  #product-overview {
    background-size:contain , cover;
  }
  #product-overview h1 {
    font-size: 50px;
  }
  .plan__list {
    width: 100%;
    /* margin: auto; */
    text-align: center;
  }
  .plan {
    background: aquamarine;
    text-align: center;
    width: 30%;
    min-width: 270px;
    /* height: 500px; */
    display: inline-block;
    padding: 16px;
    margin: 8px;
    vertical-align: middle;
  }
  .plan--highlighted {
    background: green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    }
    .plan--highlighted .plan__title {
      color: white;
    }
    .plan--highlighted .plan__price {
      color: chocolate;
    }
    .plan__annotation {
      background: white;
      color: green;
      padding: 5px;
      border-radius: 8px;
      box-shadow: 10px 5px 5px black;

    }
    .plan__title {
      color: chocolate;
    }
    .plan__price {
      color: gray;
    }
    .plan__features {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .plan__features li {
      list-style: none;
      margin: 8px 0;
    }
    .reason {
      background:rgb(239, 132, 33);
      min-height: 360px;
      /* padding: 20px; */
      margin-top: -20px;

      /* text-align: center; */

    }
    .reason__heading {
      text-align: center;
      padding: 30px;
      font-size: 40px;
    }
    .reason__features {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .reason__feature {
      width: 32.5%;
      display: inline-block;
      color: white;
      /* padding: 45px; */
      text-align: center;
      /* background: navy; */
      /* margin: 5px; */
      /* margin-top: 20px; */
    }
    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }
    .main-footer__link {
      color: white;
      /* display: flex; */
      /* width: 50%; */
      /* text-align: center; */
      height: auto;
      padding: 20px;
    }
    .main-footer__link a {
      text-decoration: none;
      color: white;
    }
    .main-footer__link a:hover,
    .main-footer__link a:active {
      color: gray;
    }
}

