<app-header></app-header>
<main>
  <section id="product-overview">
    <p>This is test paragraph for pseudo classes</p>
  </section>
  <section id="plans">
      <h1 class="section-title">Choose your plan</h1>
      <div>
        <article class="plan">
          <h1 class="plan__title">Free</h1>
          <h2 class="plan__price">$0/month</h2>
          <h3>For hobby projects or small teams</h3>
          <ul class="plan__features">
            <li>1 Workspace</li>
            <li>Unlimited Traffic</li>
            <li>10GB Storage</li>
            <li>Basic Support</li>
          </ul>
          <div>
            <button class="button">CHOOSE PLAN</button>
          </div>
        </article>
        <article  class="plan plan--highlighted">
          <h1 class="plan__annotation">Recomended</h1>
          <h1 class="plan__title">PLUS</h1>
          <h2 class="plan__price">$30/month</h2>
          <h3>For ambitious projects</h3>
          <ul class="plan__features">
            <li>5 Workspace</li>
            <li>Unlimited Traffic</li>
            <li>100GB Storage</li>
            <li>Plus Support</li>
          </ul>
          <div>
            <button class="button">CHOOSE PLAN</button>
          </div>
        </article>
        <article  class="plan">
          <h1 class="plan__title">PREMIUM</h1>
          <h2 class="plan__price">$100/month</h2>
          <h3>For Business projects</h3>
          <ul class="plan__features">
            <li>10 Workspace</li>
            <li>Unlimited Traffic</li>
            <li>500GB Storage</li>
            <li>Plus Support</li>
          </ul>
          <div>
            <button class="button">CHOOSE PLAN</button>
          </div>
        </article>
      </div>
    </section>
  <section class="reason">
    <h1 class="reason__heading">When you find it Hard, take the easy one first.</h1>
    <ul class="reason__features">
      <li class="reason__feature">
        <div class="inner__feature">

        </div>
        <p class="inner-paragraph">Motivate yourself</p>
      </li>
      <li class="reason__feature">
        <div class="inner__feature">

        </div>
        <p class="inner-paragraph">Make small targets</p>
      </li>
      <li class="reason__feature">
        <div class="inner__feature">

        </div>
        <p class="inner-paragraph">Take more breaks, always stick around</p>
      </li>
    </ul>
  </section>
</main>
<footer class="main-footer">
  <nav>
    <ul class="main-footer__links">
      <li class="main-footer__link">
        <a href="#">Support</a>
      </li>
      <li class="main-footer__link">
        <a href="#">Terms of Use</a>
      </li>
    </ul>
  </nav>
</footer>

